/* =========================================
   Atlas do Generalista — Identidade Visual
   ========================================= */

:root {
  --sl-color-accent-low: #f1ebf7;
  --sl-color-accent: #7048a8;
  --sl-color-accent-high: #4b286f;
}

:root[data-theme='dark'] {
  --sl-color-accent-low: #30223d;
  --sl-color-accent: #a982d1;
  --sl-color-accent-high: #e1cfee;
}
